<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" /> 
	</settings>
	
	<typeAliases>
		<typeAlias type="soft.euclid.intern.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="soft.euclid.intern.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="soft.euclid.intern.vo.FileVO" alias="fileVO"/>
		<typeAlias type="soft.euclid.intern.vo.SearchVO" alias="searchVO"/>
		<typeAlias type="soft.euclid.intern.vo.CommentVO" alias="commentVO"/>
		<typeAlias type="soft.euclid.intern.vo.PaginationVO" alias="paging"/>
	</typeAliases>

</configuration>